{{page-header type=type endsAt=endsAt startsAt=startsAt atDate=atDate action="switchReport" logout="logout" currentSector=currentSector}}
{{#if error}}
  <h1 class="dashboard-error">{{error.message}}</h1>
{{else}}
  <div class="content-wrapper">
    <div class="content global-fullwidth">
      <div class="row clearfix">
        <div class="title-general title-column">
          {{subject}}
        </div>
        <div class="title-general title-column">
          <h4>As of {{currentDate}}</h4>
        </div>
        <div class="overview-box global-shadow clearfix">
          <div class="clearfix subreport-summary">
            <h4 style="font-weight: bold;">Open Jobs</h4>
          </div>
          <div class="clearfix">
            <div class="hidden-xs col-sm-3">&nbsp;</div>
            <div class="col-xs-12 col-sm-6">
              <div class="col-xs-4">
                <div class="clearfix">
                  <strong>Jobs</strong>
                </div>
                {{data.summary.jobs}}
              </div>
              <div class="col-xs-4">
                <div class="clearfix">
                  <strong>Companies</strong>
                </div>
                <!-- Company trends don't display this -->
                {{#if data.summary.companies}}
                  {{data.summary.companies}}
                {{else}}
                  N/A
                {{/if}}
              </div>
              <div class="col-xs-4">
                <div class="clearfix">
                  <strong>Avg. Days</strong>
                </div>
                {{format-number data.summary.averageAge}}
              </div>
            </div>
            <div class="hidden-xs col-sm-3">&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="global-translucent">
          <div class="graph-wrapper">
            <h3>Average <strong>Open</strong> Jobs</h3>
            <div class="clearfix">
              <div class="hidden-xs col-sm-2">&nbsp;</div>
              <div class="col-xs-12 col-sm-8 xs-p0">
                <div class="col-xs-1 col-sm-1 padding-l0">
                  <div class="graph-label label-vertical text-right">Jobs</div>
                </div>
                <div class="col-xs-11 col-sm-10 padding-0">
                  {{subreport-chart model=model.openJobsAverage}}
                  <div class="graph-label">Monthly</div>
                </div>
                <div class="hidden-xs col-sm-1 padding-0">&nbsp;</div>
              </div>
              <div class="hidden-xs col-sm-2">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        {{#if data.skillChart}}
          <div class="col">
            <div class="global-translucent">
              <div class="card-wrapper global-shadow">
                <h3>Top Skills</h3>
                <h4>For {{subject}}</h4>
                {{#trend-table model=data.skillChart type=type atDate=atDate trendType="Skill" isCompany=isCompany sector=sector subSector=subSector}}
                  By <strong>open</strong> jobs
                {{/trend-table}}
              </div>
            </div>
          </div>
        {{/if}}
        {{#if data.titleChart}}
          <div class="col">
            <div class="global-translucent">
              <div class="card-wrapper global-shadow">
                <h3>Top Job Titles</h3>
                <h4>For {{subject}}</h4>
                {{#trend-table model=data.titleChart type=type atDate=atDate trendType="Title" isCompany=isCompany sector=sector subSector=subSector}}
                  By <strong>open</strong> jobs
                {{/trend-table}}
              </div>
            </div>
          </div>
        {{/if}}
        {{#if data.companyChart.top}}
          <div class="col">
            <div class="card-wrapper clearfix global-shadow">
              <h3>Top Employers</h3>
              <h4>For {{subject}}</h4>
              {{#employer-table model=data.companyChart type=type atDate=atDate sector=sector subSector=subSector}}
                By open jobs
                <span class="table-subtitle">(as of midnight yesterday)</span>
              {{/employer-table}}
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row clearfix">
        {{#if data.experienceChart}}
          <div class="col">
            <div class="global-translucent">
              <div class="card-wrapper global-shadow">
                <h3>Experience</h3>
                <h4>For {{subject}}</h4>
                {{#trend-table model=data.experienceChart type=type atDate=atDate isCompany=isCompany sector=sector subSector=subSector}}
                  By <strong>open</strong> jobs
                {{/trend-table}}
              </div>
            </div>
          </div>
        {{/if}}
        {{#if data.jobtypeChart}}
          <div class="col">
            <div class="global-translucent">
              <div class="card-wrapper global-shadow">
                <h3>Job Type</h3>
                <h4>For {{subject}}</h4>
                {{#trend-table model=data.jobtypeChart type=type atDate=atDate isCompany=isCompany sector=sector subSector=subSector}}
                  By <strong>open</strong> jobs
                {{/trend-table}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row clearfix">
        {{#if data.regionChart}}
          <div class="col">
            <div class="global-translucent">
              <div class="card-wrapper global-shadow">
                <h3>Region</h3>
                <h4>For {{subject}}</h4>
                {{#trend-table model=data.regionChart type=type atDate=atDate isCompany=isCompany sector=sector subSector=subSector}}
                  By <strong>open</strong> jobs
                {{/trend-table}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

{{/if}}
