{{page-header type=type endsAt=endsAt startsAt=startsAt atDate=atDate action="switchReport" logout="logout"}}
{{#if error}}
    <h1 class="dashboard-error">{{error.message}}</h1>
{{else}}
    <div class="content-wrapper">
        <div class="content global-fullwidth">
            <div class="row clearfix">
                <div class="col">
                    <div class="title-general title-column">
                        Open Jobs
                    </div>
                    <div class="overview-box global-shadow clearfix">
                        <div class="overview-stat-wrapper">
                            <h3>Open</h3>
                            <h4>{{type}} Jobs</h4>
                            {{overview-stats model=model.summary.openJobs.current scope="(As of midnight)" direction=openJobsDirection}}
                        </div>
                        <div class="overview-stat-wrapper">
                            <h3>Open</h3>
                            <h4>{{type}} Jobs (average)</h4>
                            {{overview-stats model=model.summary.openJobsAverage.current scope="(# of open jobs per day averaged over previous 30 days)"}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="title-general title-column">
                        New Jobs
                    </div>
                    <div class="overview-box global-shadow clearfix">
                        <div class="overview-stat-wrapper">
                            <h3>New</h3>
                            <h4>{{type}} Jobs</h4>
                            {{overview-stats model=model.summary.newJobs.current scope="(Posted yesterday, as of midnight)" direction=newJobsDirection}}
                        </div>
                        <div class="overview-stat-wrapper">
                            <h3>New</h3>
                            <h4>{{type}} Jobs (average)</h4>
                            {{overview-stats model=model.summary.newJobsAverage.current scope="(# of new jobs per day, averaged over previous 30 days)"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="graph-wrapper">
                        <h3>Average
                            <strong>Open</strong> Jobs</h3>
                        <h4>Weekly</h4>

                        {{line-chart model=model.charts.weekly.openJobsAverage}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="graph-wrapper">
                        <h3>Total
                            <strong>New</strong> Jobs</h3>
                        <h4>Weekly</h4>

                        {{line-chart model=model.charts.weekly.newJobsTotal}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="graph-wrapper">
                        <h3>Average
                            <strong>Open</strong> Jobs</h3>
                        <h4>Monthly</h4>

                        {{bar-chart model=openJobsAverage}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="graph-wrapper">
                        <h3>Total
                            <strong>New</strong> Jobs</h3>
                        <h4>Monthly</h4>

                        {{bar-chart model=newJobsTotal}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Trending Job Titles</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.titles.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Top Job Titles</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.titles.byAllJobs.data type=type atDate=atDate exportSet="trendingNewJobTitles" trendType="Title" displayPrevious=false}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Trending Skills</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.skills.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobSkills" trendType="Skill"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Top Skills</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.skills.byAllJobs.data type=type atDate=atDate exportSet="trendingNewJobSkills" trendType="Skill" displayPrevious=false}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Degrees</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.educations.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Degrees</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.educations.byAllJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Experience Levels</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.experiences.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Experience Levels</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.experiences.byAllJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Job Types</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.jobTypes.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Job Types</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.jobTypes.byAllJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Regions</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.regions.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Regions</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.regions.byAllJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Associations</h3>
                        <h4>Daily</h4>

                        {{#trend-table model=model.tables.trends.associations.byOpenJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>open</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
                <div class="col global-translucent">
                    <div class="card-wrapper global-shadow">
                        <h3>Associations</h3>
                        <h4>All Time</h4>

                        {{#trend-table model=model.tables.trends.associations.byAllJobs.data type=type atDate=atDate exportSet="trendingOpenJobTitles" trendType="Title"}}
                            By <strong>all</strong> jobs
                        {{/trend-table}}
                    </div>
                </div>
            </div>
            <div class="title-general title-inter">
                Top Hiring Employers
            </div>
            <div class="row clearfix">
                <div class="col">
                    <div class="card-wrapper clearfix global-shadow">
                        {{#employer-table model=model.tables.employers.byOpenJobs type=type atDate=atDate exportSet="employersByOpenJobs"}}
                            By open jobs
                            <span class="table-subtitle">(as of midnight yesterday)</span>
                        {{/employer-table}}
                    </div>
                </div>
                <div class="col">
                    <div class="card-wrapper">
                        {{#employer-table model=model.tables.employers.byYearToDate type=type atDate=atDate exportSet="employersByYearToDateNewJobs"}}
                            By year-to-date new jobs
                        {{/employer-table}}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col">
                    <div class="card-wrapper clearfix global-shadow">
                        {{#employer-table model=model.tables.employers.byLast7DaysJobs type=type atDate=atDate}}
                            By previous 7 days new jobs
                        {{/employer-table}}
                    </div>
                </div>
                <div class="col">
                    <div class="card-wrapper">
                        {{#employer-table model=model.tables.employers.byAllJobs type=type atDate=atDate}}
                            By new jobs
                        {{/employer-table}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="images/logo-bctechjobs-inverse.png" />
    </div>
{{/if}}
