<div class="header">
    <img src="images/logo_bctechjobs.png" />
</div>
<div class="title_wrapper">

    <div class="title global_fullwidth">
        <h2 class="date">{{format-date model.date}}</h2>

    </div>
</div>
<div class="content_wrapper">
    <div class="content global_fullwidth">
        <div class="row clearfix">
            <div class="col">
                <div class="title_general title_column">
                    Open Jobs
                </div>
                <div class="overview_box global_shadow clearfix">
                    <div class="overview_stat_wrapper">
                        <h3>Open</h3>
                        <h4>Software Jobs</h4>
                        {{overview-stats model=model.summary.openJobs.current scope="(As of midnight)" direction=openJobsDirection}}
                    </div>
                    <div class="overview_stat_wrapper">
                        <h3>Open</h3>
                        <h4>Software Jobs (average)</h4>
                        {{overview-stats model=model.summary.openJobsAverage.current scope="(# of open jobs per day averaged over previous 30 days)"}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="title_general title_column">
                    New Jobs
                </div>
                <div class="overview_box global_shadow clearfix">
                    <div class="overview_stat_wrapper">
                        <h3>New</h3>
                        <h4>Software Jobs</h4>
                        {{overview-stats model=model.summary.newJobs.current scope="(Posted yesterday, as of midnight)" direction=newJobsDirection}}
                    </div>
                    <div class="overview_stat_wrapper">
                        <h3>New</h3>
                        <h4>Software Jobs (average)</h4>
                        {{overview-stats model=model.summary.newJobsAverage.current scope="(# of new jobs per day, averaged over previous 30 days)"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col global_translucent">
                <div class="graph_wrapper milk">
                    <h3>Average
                        <strong>Open</strong> Jobs</h3>
                    <h4>Weekly</h4>
                    <div class="dummy_graph">
                        <img src="images/dummy_graph_line.png" />
                    </div>
                    <div class="graph graph_1">
                        <img src="images/graph_1.png" class="graph_line" />
                    </div>
                </div>
            </div>
            <div class="col global_translucent">
                <div class="graph_wrapper milk">
                    <h3>Total
                        <strong>New</strong> Jobs</h3>
                    <h4>Weekly</h4>
                    <div class="dummy_graph">
                        <img src="images/dummy_graph_line.png" />
                    </div>
                    <div class="graph graph_1">
                        <img src="images/graph_1.png" class="graph_line" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col global_translucent">
                <div class="graph_wrapper milk">
                    <h3>Average
                        <strong>Open</strong> Jobs</h3>
                    <h4>Monthly</h4>
                    <div class="dummy_graph">
                        <img src="images/dummy_graph_bar.png" />
                    </div>
                    <div class="graph graph_2">
                        <img src="images/graph_1.png" class="graph_column" />
                    </div>
                </div>
            </div>
            <div class="col global_translucent">
                <div class="graph_wrapper milk">
                    <h3>Total
                        <strong>New</strong> Jobs</h3>
                    <h4>Monthly</h4>
                    <div class="dummy_graph">
                        <img src="images/dummy_graph_bar.png" />
                    </div>
                    <div class="graph graph_2">
                        <img src="images/graph_1.png" class="graph_column" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col global_translucent">
                <div class="card_wrapper global_shadow milk">
                    <h3>Trending Job Titles</h3>
                    <h4>Daily</h4>
                    <table class="breakdown_table">
                        <tbody>
                            <tr>
                                <th class="table_title">By
                                    <strong>open</strong> jobs</th>
                                <th class="table_title_jobs">Jobs</th>
                                <th>Companies</th>
                                <th>Avg. Age</th>
                            </tr>
                            {{#each five as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>
                                        <span class="table_delta up">
                                            <span class="icon_delta"></span>
                                        </span>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="table_showmore_wrapper">
                        <div class="table_showmore">
                            See More
                        </div>
                        <span class="loader flex_hidden">
                        </span>
                        <span class="table_showmore_finished">
                            Showing all results.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col global_translucent">
                <div class="card_wrapper global_shadow milk">
                    <h3>Trending Job Titles</h3>
                    <h4>Daily</h4>
                    <table class="breakdown_table">
                        <tbody>
                            <tr>
                                <th class="table_title">By
                                    <strong>new</strong> jobs</th>
                                <th class="table_title_jobs">Jobs</th>
                                <th>Companies</th>
                                <th>Avg. Age</th>
                            </tr>
                            {{#each five as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>
                                        <span class="table_delta up">
                                            <span class="icon_delta"></span>
                                        </span>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="table_showmore_wrapper">
                        <div class="table_showmore">
                            See More
                        </div>
                        <span class="loader flex_hidden">
                        </span>
                        <span class="table_showmore_finished">
                            Showing all results.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col global_translucent">
                <div class="card_wrapper global_shadow milk">
                    <h3>Trending Skills</h3>
                    <h4>Daily</h4>
                    <table class="breakdown_table">
                        <tbody>
                            <tr>
                                <th class="table_title">By
                                    <strong>open</strong> jobs</th>
                                <th class="table_title_jobs">Jobs</th>
                                <th>Companies</th>
                                <th>Avg. Age</th>
                            </tr>
                            {{#each five as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>
                                        <span class="table_delta up">
                                            <span class="icon_delta"></span>
                                        </span>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="table_showmore_wrapper">
                        <div class="table_showmore">
                            See More
                        </div>
                        <span class="loader flex_hidden">
                        </span>
                        <span class="table_showmore_finished">
                            Showing all results.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col global_translucent">
                <div class="card_wrapper global_shadow milk">
                    <h3>Trending Skills</h3>
                    <h4>Daily</h4>
                    <table class="breakdown_table">
                        <tbody>
                            <tr>
                                <th class="table_title">By
                                    <strong>new</strong> jobs</th>
                                <th class="table_title_jobs">Jobs</th>
                                <th>Companies</th>
                                <th>Avg. Age</th>
                            </tr>
                            {{#each five as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>
                                        <span class="table_delta up">
                                            <span class="icon_delta"></span>
                                        </span>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="table_showmore_wrapper">
                        <div class="table_showmore">
                            See More
                        </div>
                        <span class="loader flex_hidden">
                        </span>
                        <span class="table_showmore_finished">
                            Showing all results.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="title_general title_inter">
            Top Hiring Employers
        </div>
        <div class="row clearfix">
            <div class="col">
                <div class="card_wrapper clearfix    global_shadow">
                    <table class="breakdown_table milk">
                        <tbody>
                            <tr>
                                <th class="table_title">By open jobs
                                    <span class="table_subtitle">(as of midnight yesterday)</span>
                                </th>
                                <th>&nbsp;</th>
                            </tr>

                            {{#each ten as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}

                            <tr>
                                <td class="table_row_total table_row_total_scope">
                                    These 10 companies represent
                                    <span class="percent">00%</span> of total openings.
                                </td>
                                <td class="table_row_total">
                                    000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="card_wrapper">
                    <table class="breakdown_table milk">
                        <tbody>
                            <tr>
                                <th class="table_title">By year-to-date new jobs</th>
                                <th>&nbsp;</th>
                            </tr>
                            {{#each ten as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td class="table_row_total table_row_total_scope">
                                    These 10 companies represent
                                    <span class="percent">00%</span> of total openings.
                                </td>
                                <td class="table_row_total">
                                    000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col">
                <div class="card_wrapper clearfix    global_shadow">
                    <table class="breakdown_table milk">
                        <tbody>
                            <tr>
                                <th class="table_title">By previous 7 days new jobs</th>
                                <th>&nbsp;</th>
                            </tr>
                            {{#each ten as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td class="table_row_total table_row_total_scope">
                                    These 10 companies represent
                                    <span class="percent">00%</span> of total openings.
                                </td>
                                <td class="table_row_total">
                                    000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="card_wrapper">
                    <table class="breakdown_table milk">
                        <tbody>
                            <tr>
                                <th class="table_title">By previous day new jobs</th>
                                <th>&nbsp;</th>
                            </tr>
                            {{#each ten as |index|}}
                                <tr>
                                    <td class="table_job_title"><a href="#">&nbsp;</a></td>
                                    <td>&nbsp;</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td class="table_row_total table_row_total_scope">
                                    These 10 companies represent
                                    <span class="percent">00%</span> of total openings.
                                </td>
                                <td class="table_row_total">
                                    000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="footer">
    <img src="images/logo_bctechjobs_inverse.png" />
</div>
