<label>Terms</label>
<div class="form-group">
  {{term-input value=newTerm include="notUsed" ruleType=rule.ruleType}}
  <button class="btn btn-primary"{{action "addTerm"}}>Add term</button>
</div>
<div class="form-group">
  {{textarea class="form-control term-edit" value=textValue rows=rows width="100%" input=(action "textEdit" value="target.value")}}
</div>
<label>Action</label>

<div class="radio">
  {{#radio-button
    value="replace"
    groupValue=rule.action}}
    Replace with
  {{/radio-button}}
  <div class="rule-replaceWith">
    {{term-input value=rule.replaceWith ruleType=rule.ruleType}}
  </div>
</div>
<div class="radio">
  {{#radio-button
    value="ignoreValue"
    groupValue=rule.action}}
    Ignore value
  {{/radio-button}}
  {{tool-tip title="Hides the value from reporting. Use for removing skills."}}
</div>
<div class="radio">
  {{#radio-button
    value="ignoreJob"
    groupValue=rule.action}}
    Ignore job
  {{/radio-button}}
  {{tool-tip title="Removes the job completely. Use for removing job titles."}}
</div>
