<table class="breakdown-table">
    <tbody>
        <tr>
            <th class="table-title">
              {{yield}}
            </th>
            <th>&nbsp;</th>
        </tr>
        {{#each visibleItems as |item|}}
            <tr>
                <td class="table-job-title">{{#link-to "dashboard.subreport" (query-params filter=type at=transitionDate trend="Company" subject=item.employer sector=sector subSector=subSector)}}{{item.employer}}{{/link-to}}</td>
                <td>{{item.jobs}}</td>
            </tr>
        {{/each}}
        {{#each emptyItems as |item|}}
            <tr>
                <td class="table-job-title" colspan="2">&nbsp;</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{#if showMoreButton}}
    <div class="table-showmore-wrapper" {{action "showMore"}}>
        <div class="table-showmore">
            See More
        </div>
    </div>
{{else}}
    <div class="table-showmore-wrapper">
        <span class="table-showmore-finished">
          These {{model.companiesRepresented}} companies represent
          <span class="percent">{{format-number model.openingsCoverage "0%"}}</span> of
          <span class="total">{{format-number model.totalOpenings}}</span>
          total openings.
        </span>
    </div>
    {{#if displayDownload}}
      <div class="table-showmore-wrapper" {{action "downloadCSV"}}>
          Download all records
      </div>
    {{/if}}
{{/if}}
