{{current}}
<span class="table_delta {{direction}}">
{{#if direction}}
    {{#if differenceRatio}}
        {{format-number differenceRatio "0%"}}
        {{arrow-icon}}
    {{else}}
        <span class="new">New</span>
    {{/if}}
{{/if}}
</span>
