<table class="breakdown_table">
    <tbody>
        <tr>
            <th class="table_title">{{yield}}</th>
            <th class="table_title_jobs">Jobs</th>
            <th>Companies</th>
            <th>Avg. Age</th>
        </tr>
        {{#each model as |trend|}}
            <tr>
                <td class="table_job_title">{{trend.name}}</td>
                <td>
                    {{trend.current}}
                    <span class="table_delta up">
                        <span class="icon_delta"></span>
                    </span>
                </td>
                <td>{{format-number trend.companies}}</td>
                <td>{{format-number trend.averageAge}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<!-- <div class="table_showmore_wrapper">
    <div class="table_showmore">
        See More
    </div>
    <span class="loader flex_hidden">
    </span>
    <span class="table_showmore_finished">
        Showing all results.
    </span>
</div> -->
