<table class="breakdown-table">
    <tbody>
        <tr>
            <th class="table-title">{{yield}}</th>
            <th class="table-title-jobs">Jobs</th>
            <th>Companies</th>
            <th>Avg. Age</th>
        </tr>
        {{#each visibleItems as |trend|}}
            <tr>
                {{#if session.isLoggedIn}}
                    <td class="table-job-title">{{#link-to "dashboard.subreport" (query-params filter=type at=transitionDate trend=trendType subject=trend.name)}}{{trend.name}}{{/link-to}}</td>
                {{else}}
                    <td class="table-job-title">{{trend.name}}</td>
                {{/if}}
                <td>
                    {{job-number current=trend.current previous=trend.previous}}
                </td>
                <td>{{format-number trend.companies}}</td>
                <td>{{format-number trend.averageAge}}</td>
            </tr>
        {{/each}}
        {{#each emptyItems}}
            <tr>
                <td class="table-job-title" colspan="4">&nbsp;</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{#if showMoreButton}}
    <div class="table-showmore-wrapper" {{action "showMore"}}>
        <div class="table-showmore">
            See More
        </div>
    </div>
{{else}}
    <div class="table-showmore-wrapper">
        <span class="table-showmore-finished">
            Showing {{items.length}} results.
        </span>
    </div>
    {{#if displayDownload}}
      <div class="table-showmore-wrapper" {{action "downloadCSV"}}>
          Download all records
      </div>
    {{/if}}
{{/if}}
