<td>
  <span data-rule="{{rule.id}}" style="display:none">
    {{#each terms as |term|}}
      {{term}} <br />
    {{/each}}
  </span>
  <a href="" {{action "toggleTerm"}}>{{toggleText}}</a>
</td>
<td>
  {{description}}
</td>
<td class="text-nowrap">
  {{#link-to "admin.rules.rule" rule class="btn btn-primary btn-xs"}}Edit{{/link-to}}
  <button type="button" class="btn btn-danger btn-xs" {{action "delete"}}>Delete</button>
</td>
